.noteCard{
    background-color: rgb(69, 152, 163);
    color: #fff;
}

.cardBody{
    overflow: hidden;
    mask-image: linear-gradient(180deg,#000 60%,transparent);
}

.cardText{
white-space: pre-line;

}

/* .cardTitle{
    color:#fff;
} */

/* .cardFooter{
    color:#fff;
} */